* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.App{
	max-width:1400px;
	margin:0 auto;
}
#hero-section {
	width:100%;
	display:grid;
	align-items:start;
	justify-content:start;
	grid-template-columns:repeat(2,1fr);
	/*padding:25px;*/
	padding:7vw;
}
#hamburger-box {
	width:8vw;
	background-color:transparent;
	grid-column:1/2;
	justify-self:start;
	cursor:pointer;
}
#hamburger-box img{
	width:100%;
}
#mode-selector-box {
	width:6vw;
	grid-column:2/3;
	justify-self:end;
	cursor:pointer;
}
#mode-selector-box img {
	width:100%;
}
h1 {
	font-family:"Imperial Script", cursive;
	/*font-size:40px;*/
	font-size:11vw;
	grid-column:1/3;
	color:white;
	padding:29px 0px 70px 0px;
}




#menu-bar {
	position:absolute;
	top:8%;
	width:89%;
	padding-top:0;
	/*padding-top:128px;*/
	background-color:black;
	transition: display 0.5s;
	height:0;
	transition: height 1s, padding-top 1s;
	overflow:hidden;
}


.menu-item {
	width:100%;
	border:1px solid transparent;
	transition: background-color 0.5s;
}
.menu-item p {
	font-family:'Roboto', sans-serif;
	font-size:25px;
	margin:20px auto;
	color:white;
	cursor:pointer;
}



@media only screen and (min-width:600px){
	html {
		font-size:16px;
	}

	#hamburger-box {
		display:none;
	}
	#hero-section{
		position:relative;
	}
	#mode-selector-box{
		width:5%;
		position:absolute;
		top:4%;
		right:0%;
	}
	h1{
		/*font-size:7vw;*/
		/*font-size:5rem;*/
		font-size:3rem;
	}
	#menu-bar{ 
		width:100%;
		position:relative;
		top:0;
		display:flex;
		flex-direction:row;
		padding:0;
		margin:0;		
		height:100%;
	}
	.menu-item p{
		margin:0;
		/*padding:51px 35px;*/
		padding:3em 1em;
		/*font-size:2vw;*/
		/*font-size:30px;*/
		/*font-size:1.5rem;*/
		font-size:1rem;
		text-wrap:nowrap;
	}
}

@media only screen and (min-width:700px){
	html{font-size:18px;}
}

@media only screen and (min-width:900px){
	html{font-size:20px;}
}

@media only screen and (min-width:1100px){
	html{font-size:22px;}
}
